
<div
    *ngIf="isLoading"
>

</div>
<div
    *ngIf="!isLoading"
>
    <form
    (submit)="$event.preventDefault(); inviteUser()"
    >
        <div class="input-group">
            <label>{{ 'email' | translate }}</label>
            <input
                [formControl]="form.controls.email" 
                type="email"
                name="email"    
            >
            <div 
                class="error"
                *ngIf="form.controls.email.dirty 
                  && form.controls.email.errors"
            >
                {{ 'invalidEmail' | translate }}
            </div>
        </div>
        <div class="input-group">
            <button
                type="submit"
                data-test="invite-btn"
                [disabled]="form.invalid"
            >
                {{ 'invite' | translate }}
            </button>
        </div>
    </form>
</div>
