<form
    (submit)="$event.preventDefault(); submit()"
    *ngIf="form && !notesOpen"
>
    <description-and-notes-form
      [descriptionFormControl]="form.controls.description"
      [notesFormControl]="form.controls.notes"
      (complexModeChange)="onComplexModeChange()"
      (openNotes)="notesOpen = true"
      [sliderState]="true"
    ></description-and-notes-form>
    <div>
      <h5>
        {{ 'addExpensePaidBy' | translate }}
      </h5>
      <payment-user-form
        *ngFor="let user of usersOptions"
        [form]="form.controls.paidBy"
        [user]="user"
        (add)="addUserPayment($event)"
        (remove)="removeUserPayment($event)"
      ></payment-user-form>
    </div>
    <div>
      <h5>
        {{ 'addExpenseBenefitors' | translate }}
      </h5>
      <payment-user-form
        *ngFor="let user of usersOptions"
        [form]="form.controls.benefitors"
        [user]="user"
        (add)="addUserBenefit($event)"
        (remove)="removeUserBenefit($event)"
      ></payment-user-form>
    </div>
    <div class="input-group">
        <button
            type="submit"
            data-test="add-expense-confirm-btn"
            [disabled]="!form.valid"
        >
        {{ submitButtonText}}
        </button>
    </div>
</form>
<notes-open-component
    *ngIf="form && notesOpen"
    [descriptionFormControl]="form.controls.description"
    [notesFormControl]="form.controls.notes"
    (closeNotes)="notesOpen = false"
></notes-open-component>
<full-screen-loader
    *ngIf="isLoading"
></full-screen-loader>
<modal [open]="complexModeChangeModalOpen">
  <h2 slot="heading">{{ 'complexModeChangeModalTitle' | translate }}</h2>
  <div slot="content">{{ 'complexModeChangeModalContent' | translate }}</div>
  <div slot="actions">
    <button (click)="complexModeChangeModalOpen = false">
      {{ 'cancel' | translate }}
    </button>
    <button (click)="confirmComplexModeChange()" style="margin-left: 5px;">
      {{ 'confirm' | translate }}
    </button>
  </div>
</modal>