
<page
    [isLoading]="isLoading"
    [notifications$]="notification$"
>
    <ng-container
        *ngIf="formData$ | async as formData"
    >
        <record-form
            [formData]="formData"
            (formSubmit)="addExpense($event)"
            [submitButtonText]="'confirm' | translate"
        >
            <h4 record-form-header>
                <button
                    class="icon-btn"
                    (click)="routingService.goToNamespaceView()"
                >
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                {{ formData.namespace.name }}
            </h4>
        </record-form>
    </ng-container>
</page>