<div
    *ngIf="form"
    class="inline-form-group"
>
    <div class="input-group w-3">
        <input
            [formControl]="form.controls.currency" 
            type="text"
            name="currency"
            data-testid="currency-input"
            [class.error]="form.controls.currency.errors"
        >
    </div>
    <div class="input-group w-6">
        <input
            [formControl]="form.controls.amount" 
            type="number"
            name="amount"
            data-testid="amount-input" 
            [class.error]="form.controls.amount.errors"
        >
    </div>
    <div class="input-group">
        <button
            type="button"
            data-test="remove-amount-btn"
            class="icon-btn"
            (click)="remove.emit(form)"
        >
           <i class="fa fa-xmark"></i>
        </button>
    </div>
</div>