
<page
    [isLoading]="isLoading"
    [notifications$]="notification$"
    class="with-page-header"
>
    <h4
        page-header
        *ngIf="namespace$ | async as namespace"
    >
        <button
            class="icon-btn"
            (click)="routingService.goToOwnerRealmView()"
        >
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        {{ namespace.name }}
    </h4>
    <ng-container
        *ngIf="namespace$ | async as namespace"
    >
        <users-list
            [users]="namespace.users"
            [invitations]="namespace.invitations"
            (invite)="routingService.goToInviteView()"
        ></users-list>
        <records-list
            [records]="namespace.records"
            (selectRecord)="routingService
                .goToEditRecordView($event.id)"
        ></records-list>
        <div>
            <button
                (click)="addRecord()"
                data-test="add-expense-button"
            >
                <i class="fa-solid fa-plus"></i>
                {{ 'addExpense' | translate }}
            </button>
        </div>
    </ng-container>
</page>