
<page
    [isLoading]="isLoading"
    [notifications$]="notification$"
>
    <ng-container
        *ngIf="namespace$ | async as namespace"
    >
        <h4>
            {{ namespace.name }}
        </h4>
        <users-list
            [users]="namespace.users"
            [invitations]="namespace.invitations"
            (invite)="routingService.goToInviteView()"
        ></users-list>
        <records-list
            [records]="namespace.records"
        ></records-list>
        <div>
            <button
                (click)="addRecord()"
            >
                {{ 'addExpense' | translate }}
            </button>
        </div>
    </ng-container>
</page>