
<page
    [isLoading]="isLoading"
    [notifications$]="notification$"
    class="with-page-header"
>
    <namespace-header
        page-header
        *ngIf="preview$ | async as preview"
        [name]="preview.namespace.name"
        [avatarId]="preview.namespace.avatarId"
        (backNavigation)="routingService.goToSettleSetingsView()"
    ></namespace-header>
    <ng-container
        *ngIf="preview$ | async as preview"
    >
        <h4>
            {{ 'settlePreview' | translate }}
        </h4>
        <ul>
            <debt-specification
                *ngFor="let debt of preview.settleRecords"
                data-test="debt-record"
                [debt]="debt"
                class="list-item box"
                role="listitem"
            ></debt-specification>
        </ul>
        <button
            (click)="settle()"
            data-test="settle-preview-confirm-button"
            style="width: 100%;"
        >
            {{ 'settleConfirm' | translate }}
        </button>
    </ng-container>
</page>