
<page
    [isLoading]="isLoading"
    [notifications$]="notification$"
    class="with-page-header"
>
    <namespace-header
        page-header
        *ngIf="formData$ | async as formData"
        [name]="formData.namespace.name"
        [avatarId]="formData.namespace.avatarId"
        (backNavigation)="routingService.goToNamespaceView()"
    ></namespace-header>
    <ng-container
        *ngIf="formData$ | async as formData"
    >
        <payment-event-form
            [formData]="formData"
            (formSubmit)="addExpense($event)"
            [submitButtonText]="'confirm' | translate"
        >
        </payment-event-form>
    </ng-container>
</page>