<h5>
    {{ 'recordsList' | translate }}
</h5>
<section>
    <ul>
        <li
            *ngFor="let record of records"
            data-test="namespace-record"
        >
            <span
                *ngFor="let payer of record.data.paidBy"
            >
                {{ payer.name }}
            </span>
            <span>
                {{ 'paidWord' | translate }}
            </span>
            <span>
                {{ record.data.cost }}
            </span>
            <span>
                {{ record.data.currency }}
            </span>
            <span>
                {{ 'toWord' | translate }}
            </span>
            <span
                *ngFor="let benefitor of record.data.benefitors"
            >
                {{ benefitor.name }}
            </span>
        </li>
    </ul>
</section>
