<section>
    <h5>
        <i class="fa-solid fa-coins"></i>
        {{ 'recordsList' | translate }}
    </h5>
    <ul>
        <li
            *ngFor="let record of records"
            data-test="namespace-record"
            class="list-item"
        >
            <avatar
                *ngFor="let payer of record.data.paidBy"
                [name]="payer.name"
                [color]="'#271d3b'"
                [backgroundColor]="'#2ebf91'"
                style="display: inline-block;"
            >
            </avatar>
            <span>
                {{ 'paidWord' | translate }}
            </span>
            <span>
                {{ record.data.cost }}
            </span>
            <span>
                {{ record.data.currency }}
            </span>
            <span>
                {{ 'toWord' | translate }}
            </span>
            <avatar
                *ngFor="let benefitor of record.data.benefitors"
                [name]="benefitor.name"
                [color]="'#271d3b'"
                [backgroundColor]="'#2ebf91'"
                style="display: inline-block;"
            >
            </avatar>
        </li>
    </ul>
</section>
