<h5>
    {{ 'invitedList' | translate }}
</h5>
<section>
    <ul>
        <li
            *ngFor="let invitation of invitations"
            data-test="invited-owner"
        >
            {{ invitation.email }}
        </li>
    </ul>
</section>
<h5>
    {{ 'users' | translate }}
</h5>
<section>
    <ul>
        <li
            *ngFor="let user of users"
            data-test="namespace-user"
        >
            {{ user.name }}
        </li>
    </ul>
    <button
        (click)="invite.emit()"
    >
        {{ 'addUser' | translate }}
    </button>
</section>
