<section>
    <h5
        (click)="openInvitedList = !(openInvitedList)"
    >
        <i class="fa-solid fa-chevron-down"></i>
        {{ 'invitedList' | translate }}
        <span
            data-test="number-of-invited-users"
        >
            ({{ invitations.length }})
        </span>
    </h5>
    <ul
        class="horizontal-list"
        *ngIf="
            (openInvitedList !== null && openInvitedList) 
            || users.length < 2
        "
    >
        <li
            *ngFor="let invitation of invitations"
            data-test="invited-owner"
            class="box xsmall margined"
        >
            {{ invitation.email }}
        </li>
    </ul>
</section>
<section>
    <h5>
        <i class="fa-solid fa-user"></i>
        {{ 'users' | translate }}
    </h5>
    <ul
        class="horizontal-list"
    >
    <!-- TODO - check data-test-username for injections -->
        <li
            *ngFor="let user of users"
            data-test="namespace-user"
            [attr.data-test-username]="'user-' + user.name"
            class="list-item"
            (click)="routingService.goToViewUserView(user.id)"
        >
            <avatar
                [name]="user.name"
                [avatarId]="user.avatarId"
                style="display: inline-block;"
            >
            </avatar>
        </li>
    </ul>
</section>
<section>
    <button
        (click)="invite.emit()"
        data-test="add-user-button"
    >
        <i class="fa-solid fa-plus"></i>
        {{ 'addUser' | translate }}
    </button>
</section>
