<section>
    <h5>
        {{ 'customizeAvatarDescription' | translate }}
    </h5>
    <avatar
        [color]="'#271d3b'"
        [backgroundColor]="avatarColor.value || '#2ebf91'"
        [name]="avatarName"
        [avatarUrl]="avatarImage.value"
        [urlEnding]="!avatarImage.value && avatarUrl.value || null"
    >
    </avatar>
    <div class="input-group">
        <file-input
            [label]="'avatarImageInputLabel' | translate"
            name="image"
            data-testid="image-input"
            [formControl]="avatarImage"
            [uploadFn]="fileUploadProcess.execute"
            (uploadedFileUrl)="avatarUrl.setValue($event)"
            (deleteFile)="avatarUrl.setValue(null)"
            (uploadError)="onUploadError($event)"
            [fileSizeLimit]="FILE_SIZE_LIMIT"
            [supportedFileTypes]="['image/jpeg', 'image/png']"
        ></file-input>
    </div>
    <div class="input-group">
        <label>{{ 'avatarColorInputLabel' | translate }}</label>
        <input 
            [formControl]="avatarColor"
            type="color"
            name="color"
            data-testid="color-input"
            (ngModelChange)="avatarUrl.setValue(null); avatarImage.setValue(null)"
        >
    </div>
</section>
<full-screen-loader
    *ngIf="fileUploadProcess.inProgress$| async"
></full-screen-loader>
<notifications-controller
    [notification$]="notifications$"
>
</notifications-controller>