<date-item [items]="_items">
    <ng-template #itemTemplate let-content>
        <payment-event-item
            *ngIf="content.isRecord"
            data-test="namespace-record"
            class="list-item box"
            [class.secondary]="!content.formControl || content.formControl?.value"
            [class.no-border]="content.formControl && !content.formControl.value"
            (edit)="selectPaymentEvent.emit(content.data)"
            [paymentEventView]="content.data"
            [checkboxFormControl]="content.formControl"
        ></payment-event-item>
        <!-- <settlement-item
            *ngIf="!content.isRecord"
            [settlement]="content.data"
            data-test="settlement-record"
            class="list-item box"
            [class.is-all-settled]="
                content.data.isAllSettled"
            (markAsSettled)="markAsSettled
                .emit($event)"
            (markAsUnSettled)="markAsUnSettled
                .emit($event)"
        ></settlement-item> -->
    </ng-template>
</date-item>
