<ng-container *ngIf="complex && paymentEventFormData">
  <payment-event-complex-form
    [formData]="paymentEventFormData"
    (formSubmit)="formSubmit.emit($event)"
    [submitButtonText]="'confirm' | translate"
  >
  </payment-event-complex-form>
</ng-container>
<ng-container *ngIf="!complex && recordForm">
  <payment-event-simple-form
    [formData]="recordForm"
    (formSubmit)="submitRecordSimple($event)"
    [submitButtonText]="'confirm' | translate"
  >
  </payment-event-simple-form>
</ng-container>
  