<button
    (click)="routingService.goToAddExpenseView()"
    data-test="add-expense-button"
    class="floating-action-button"
>
    <i class="fa-solid fa-plus"></i>
</button>
<button
    (click)="routingService.goToSettleView()"
    data-test="settle-button"
    style="width: 100%;"
    [hidden]="!namespace.hasRecordsToSettle"
>
    {{ 'settle' | translate }}
</button>
<records-list
    [records]="namespace.records"
    (selectRecord)="routingService
        .goToEditRecordView($event.id)"
></records-list>