<button
    (click)="routingService.goToAddExpenseView()"
    data-test="add-expense-button"
    class="floating-action-button"
>
    <i class="fa-solid fa-plus"></i>
</button>
<button
    (click)="routingService.goToSettleSetingsView()"
    data-test="settle-button"
    style="width: 100%;"
    [hidden]="!namespace.hasRecordsToSettle"
>
    {{ 'settle' | translate }}
</button>
<payment-event-list
    [paymentEvents]="{ 
        paymentEvents: namespace.paymentEvents,
    }"
    (selectPaymentEvent)="routingService
        .goToEditRecordView($event.id)"
    (markAsSettled)="markAsSettled.emit($event)"
    (markAsUnSettled)="markAsUnSettled.emit($event)"
></payment-event-list>