
<page
    [isLoading]="isLoading"
    [notifications$]="notification$"
>
    <div
        *ngIf="loadProcess.data$| async as invitation"
    >
        <h4>
            {{ invitation.namespace.name }}
        </h4>
        <section>
            <p>
                {{ 'invitationExplanation' | translate }}
            </p>
        </section>
        <form
            (submit)="$event.preventDefault()"
        >
            <div class="input-group">
                <label>{{ 'Ime s katerim se boste priključili' | translate }}</label>
                <input
                    [formControl]="form.controls.name" 
                    type="text"
                    name="name"    
                >
            </div>
        </form>
        <div class="input-group">
            <button
                (click)="accept()"
                [disabled]="!form.valid"
                data-test="accept-invitation-btn"
            >
                {{ 'acceptInvitation' | translate }}
            </button>
        </div>
        <div class="input-group">
            <button
                (click)="rejectProcess.load('')"
                data-test="reject-invitation-btn"
            >
                {{ 'rejectInvitation' | translate }}
            </button>
        </div>
    </div>
</page>