<div
  *ngIf="user && form"
  class="box"
>
  <div
    style="display: flex;"
  >
    <div>
      <avatar
        [avatarId]="user.avatarId"
        [name]="user.name"
      ></avatar>
    </div>
    <button
        type="button"
        data-test="add-amount-btn"
        (click)="add.emit(user)"
        class="icon-btn"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div>
    <ng-container
      *ngFor="let payment of form.controls; let i = index"
    >
      <amount-form
        *ngIf="payment.controls.userId.value === user.id"
        [form]="payment"
        (remove)="remove.emit(payment)"
      ></amount-form>
    </ng-container>
  </div>
</div>
  