
<page
    [isLoading]="loadProcess.inProgress$"
    [notifications$]="notification$"
    class="with-page-header"
>
    <h4
        page-header
    >
        {{ 'myNamespaces' | translate }}
    </h4>
    <section>
        <ul>
            <li
                *ngFor="let mNamespace of namespaces$ | async"
                class="box"
                role="link"
                [routerLink]="mNamespace.link"
            >
                {{ mNamespace.name }}
            </li>
        </ul>
    </section>
    <section>
        <div class="input-group">
            <button
                (click)="createNewRealm()"
                data-test="new-realm-button"
            >
                {{ 'newNamespace' | translate }}
            </button>
        </div>
    </section>
</page>