
<page
    [isLoading]="createProcess.inProgress$"
    [notifications$]="notification$"
    class="with-page-header"
>
    <h4
        page-header
    >
        <button
            class="icon-btn"
            (click)="routingService.goToOwnerRealmView()"
        >
            <i class="fa-solid fa-arrow-left"></i>
        </button>
        {{ 'newNamespace' | translate }}
    </h4>
    <form
        (submit)="$event.preventDefault(); create()"
    >
        <div class="input-group">
            <label>{{ 'namespaceName' | translate }}</label>
            <input
                [formControl]="form.controls.namespaceName" 
                type="text"
                name="namespaceName"    
            >
        </div>
        <div class="input-group">
            <button
                type="submit"
            >
                {{ 'confirm' | translate }}
            </button>
        </div>
    </form>
</page>