<avatar
    *ngFor="let benefitor of debt.data.benefitors"
    [name]="benefitor.name"
    [avatarId]="benefitor.avatarId"
    style="display: inline-block;"
    data-test="benefitor-avatar"
    [id]="'benefitor-avatar-' + benefitor.name"
>
</avatar>
<span>
    {{ 'owesWord' | translate }}
</span>
<span
    data-test="record-cost"
>
    {{ debt.data.cost }}
</span>
<span
    data-test="record-currency"
>
    {{ debt.data.currency }}
</span>
<span>
    {{ 'toOneWord' | translate }}
</span>
<avatar
    *ngFor="let payer of debt.data.paidBy"
    [name]="payer.name"
    [avatarId]="payer.avatarId"
    style="display: inline-block;"
    data-test="payer-avatar"
    [id]="'payer-avatar-' + payer.name"
>
</avatar>