<form
    (submit)="$event.preventDefault(); submit()"
    *ngIf="form && !notesOpen"
    data-test="payment-event-simple"
>
  <description-and-notes-form
    [descriptionFormControl]="form.controls.description"
    [notesFormControl]="form.controls.notes"
    (complexModeChange)="onComplexModeChange()"
    (openNotes)="notesOpen = true"
  ></description-and-notes-form>
  <div
      *ngIf="form"
      class="inline-form-group"
  >
      <div class="input-group w-3">
          <input
              [formControl]="form.controls.currency" 
              type="text"
              name="currency"
              data-testid="currency-input"
              [class.error]="form.controls.currency.errors"
          >
      </div>
      <div class="input-group w-7">
          <input
              [formControl]="form.controls.cost" 
              type="number"
              name="amount"
              data-testid="cost-input" 
              [class.error]="form.controls.cost.errors"
          >
      </div>
  </div>
    <checkbox-group
        data-testid="add-paid-by"
        [formControl]="form.controls.paidBy"
        [options]="usersOptions"
        [label]="'addExpensePaidBy' | translate "
        [error]="(form.controls.paidBy.errors 
            ? 'addExpensePaidByError' : '') | translate"
    >
      <ng-template #checkboxTemplate let-label let-data="data">
        <avatar
          [avatarId]="data?.avatarId"
          [name]="data?.name || ''"
        ></avatar>
      </ng-template>  
    </checkbox-group>
    <checkbox-group
        data-testid="add-benefitor"
        [formControl]="form.controls.benefitors"
        [options]="usersOptions"
        [label]="'addExpenseBenefitors' | translate"
        [error]="(form.controls.benefitors.errors 
            ? 'addExpenseBenefitorsError' : '') | translate"
    >
      <ng-template #checkboxTemplate let-label let-data="data">
        <avatar
          [avatarId]="data?.avatarId"
          [name]="data?.name || ''"
        ></avatar>
      </ng-template>
    </checkbox-group>
    <checkbox-radio-group
        *ngIf="ownerUsersOptions.length > 1"
        [formControl]="form.controls.createdBy"
        [options]="ownerUsersOptions"
        [label]="'addExpenseCreatedBy' | translate "
        [error]="(form.controls.createdBy.errors 
            ? 'addExpenseCreatedByError' : '') | translate"
    >
      <ng-template #checkboxTemplate let-label let-data="data">
        <avatar
          [avatarId]="data?.avatarId"
          [name]="data?.name || ''"
        ></avatar>
      </ng-template>  
    </checkbox-radio-group>
    <div class="input-group">
        <button
            type="submit"
            data-test="add-expense-confirm-btn"
            [disabled]="!form.valid"
        >
        {{ submitButtonText}}
        </button>
    </div>
</form>
<notes-open-component
    *ngIf="form && notesOpen"
    [descriptionFormControl]="form.controls.description"
    [notesFormControl]="form.controls.notes"
    (closeNotes)="notesOpen = false"
></notes-open-component>
<full-screen-loader
    *ngIf="isLoading"
></full-screen-loader>