
<page
    [isLoading]="registerProcess.inProgress$"
    [notifications$]="notification$"
>
    <form
        (submit)="$event.preventDefault(); register()"
        data-testid="register-form"
    >
        <div class="input-group">
            <label>{{ 'username' | translate }}</label>
            <input
                [formControl]="form.controls.username" 
                type="text"
                name="username"
                data-testid="username-input" 
            >
            <p
                class="error"
                *ngIf="form.controls.username.errors"
                data-cy="error"
            >
                {{ 'register_username_error' | translate }}
            </p>
        </div>
        <div class="input-group">
            <label>{{ 'password' | translate }}</label>
            <input 
                [formControl]="form.controls.password"
                type="password"
                name="password"
                data-testid="password-input"
            >
            <p
                class="error"
                *ngIf="form.controls.username.errors"
                data-cy="error"
            >
                {{ 'register_password_error' | translate }}
            </p>
        </div>
        <section>
            <h5>
                {{ 'customizeAvatarDescription' | translate }}
            </h5>
            <avatar
                [color]="'#271d3b'"
                [backgroundColor]="form.controls.avatarColor.value || '#2ebf91'"
                [name]="form.controls.username.value || 'N'"
                [avatarDataUrl]="form.controls.avatarImage.value"
            >
            </avatar>
            <div class="input-group">
                <file-input
                    [label]="'avatarImageInputLabel' | translate"
                    name="image"
                    data-testid="image-input"
                    [formControl]="form.controls.avatarImage"
                ></file-input>
            </div>
            <div class="input-group">
                <label>{{ 'avatarColorInputLabel' | translate }}</label>
                <input 
                    [formControl]="form.controls.avatarColor"
                    type="color"
                    name="color"
                    data-testid="color-input"
                >
            </div>
        </section>
        <div class="input-group">
            <button
                type="submit"
                data-testid="register-button"
                [disabled]="!form.valid"
            >
                {{ 'register' | translate }}
            </button>
        </div>
    </form>
</page>